/* YOUR CUSTOM STYLES */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html,
body,
header,
.view,
.carousel,
.carousel-item,
.active,
.carousel-inner {
  height: 100%;
  font-family: 'Noto Sans TC', sans-serif;
  color: #202A34; }

main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.view {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

hr {
  border-color: #2BBBAD;
  border-width: 3px;
  max-width: 50px; }

.white {
  border-color: #FAFAFA; }

.navbar {
  background-color: transparent; }

.navbar.scrolled {
  background-color: #2BBBAD;
  transition: background-color 200ms linear; }

.navbar-brand {
  align-self: center; }

.collapse .btn {
  font-size: 1rem; }

.content {
  margin-bottom: 10rem; }
  .content .btn-learnMore {
    background-color: #202A34; }

.btn-rounded {
  border-radius: 1000rem;
  font-size: larger; }

.btn-learnMore {
  background-color: #FAFAFA; }

.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out; }

.top-nav-collapse {
  background-color: #2BBBAD; }

.flex-center {
  color: #FAFAFA; }

.carousel-item:nth-child(1) {
  background-image: url("../img/cover/adventure-friendship-group.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.carousel-item:nth-child(2) {
  background-image: url("../img/cover/Resources-for-Digital-Nomads-smaller-size.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }

.carousel-item:nth-child(3) {
  background-image: url("../img/cover/mans-personality-jeans.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left; }

.h1-responsive {
  margin-right: 3.5rem;
  margin-left: 3.5rem;
  margin-bottom: 1em; }

.h4-responsive {
  margin-right: 3.5rem;
  margin-left: 3.5rem; }

.my-6 {
  margin-top: 10rem;
  margin-bottom: 3rem; }

.quoteMark {
  text-shadow: 2px 2px 4px #5F5E65;
  color: #2BBBAD;
  font-size: 3rem; }

.iconColor {
  color: #2BBBAD;
  font-size: 5rem;
  text-shadow: 2px 2px 4px #5F5E65; }

.parallax {
  background-attachment: fixed; }

.card {
  border-width: 0; }

.card-text {
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  height: 3.78rem;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 0.9rem;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.contentPosition1 {
  width: 45%;
  position: absolute;
  z-index: 1;
  margin-top: 5rem;
  margin-left: 3rem; }

.contentPosition2 {
  width: 45%;
  position: absolute;
  right: 5rem;
  z-index: 1;
  margin-top: 5rem; }

.imgPosition {
  width: 50%;
  margin-top: 5%; }

.btnPosition {
  width: 100%;
  margin-bottom: 10rem;
  padding-top: 5rem; }

#about {
  background-color: #FAFAFA; }

#features {
  background-color: #5F5E65; }

#cities {
  background-image: url("../img/cover/film-sleeping-bag-camera.jpg"); }

#quote {
  /*background-image: url("../img/cover/.jpg");*/
  background-color: #FAFAFA;
  /*display: none;*/ }

#imagine {
  background-image: url("../img/cover/4.jpg"); }

#whoShouldCome {
  background-image: url("../img/cover/1.jpg");
  background-position: center; }

#subscribe {
  /*background-image: url("../img/cover/.jpg");*/
  background-color: #2BBBAD;
  /*display: none;*/ }

/*footer.page-footer {
    margin-top: 0;
}*/
@media only screen and (max-width: 576px) {
  .p-rwd {
    max-width: 15rem;
    align-self: center; } }
@media only screen and (max-width: 767px) {
  .imgPosition {
    width: 100%; }

  .btnPosition {
    padding-top: 3rem; }

  .contentPosition1, .contentPosition2 {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 0;
    right: 0; } }
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #2BBBAD; }

  .h5-responsive {
    font-size: 100%; }

  .card {
    margin-bottom: 2rem; }

  .my-6 {
    margin-top: 5rem; }

  .contentPosition1, .contentPosition2 {
    margin-top: 0; } }
@media (min-width: 776px) {
  .carousel .view ul li {
    display: inline; }

  .carousel .view .full-bg-img ul li .flex-item {
    margin-bottom: 1.5rem; } }
@media (min-width: 1025px) {
  .contentPosition2 {
    right: 10rem; } }

/*# sourceMappingURL=_custom.css.map */
