/* YOUR CUSTOM STYLES */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html,
body,
header,
.view,
.carousel,
.carousel-item,
.active,
.carousel-inner {
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
}

.view {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.navbar.scrolled {
  background-color: #00bfa5;
  transition: background-color 200ms linear;
}

.navbar-brand {
  align-self: center;
}

#navBtn {
    font-size: 1rem;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #00bfa5;
}

.flex-center {
    color: #fff;
}

.carousel-item:nth-child(1) {
    background-image: url("../img/cover/adventure-friendship-group.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-item:nth-child(2) {
    background-image: url("../img/cover/Resources-for-Digital-Nomads-smaller-size.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.carousel-item:nth-child(3) {
    background-image: url("../img/cover/mans-personality-jeans.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.h1-responsive {
  margin-right: 3.5rem;
  margin-left: 3.5rem;
  margin-bottom: 1em;
}

.h4-responsive {
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}

.parallax {
    background-attachment: fixed;
}

.card {
    margin-bottom: 5rem;
    border-width: 0;
}

#about {
    background-image: url("../img/cover/film-sleeping-bag-camera.jpg");
    /*background-color: #fafafa;*/
}

#cities {
    /*background-image: url("../img/cover/film-sleeping-bag-camera.jpg");*/
    background-color: #fafafa;
}

#quote {
    /*background-image: url("../img/cover/.jpg");*/
    background-color: #fafafa;
    /*display: none;*/
}

#imagine {
    background-image: url("../img/cover/4.jpg");
}

#whoShouldCome {
    background-image: url("../img/cover/1.jpg");
}

#subscribe {
    /*background-image: url("../img/cover/.jpg");*/
    background-color: #00bfa5;
    /*display: none;*/
}

/*footer.page-footer {
    margin-top: 0;
}*/

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #00bfa5;
    }
    .card {
        margin-bottom: 2rem;
    }
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}
