/* YOUR CUSTOM STYLES */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html,
body,
header,
.view,
.carousel,
.carousel-item,
.active,
.carousel-inner {
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
}

.view {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #00bfa5;
}

.flex-center {
    color: #fff;
}

.carousel-item:nth-child(1) {
    background-image: url("../img/cover/avi-richards-183715-1300x815.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(2) {
    background-image: url("../img/cover/adventure-friendship-group.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item:nth-child(3) {
    background-image: url("../img/cover/beach-office-haadgruad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.myTitle {
  margin-top: 3em;
}

/*footer.page-footer {
    margin-top: 0;
}*/

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #00bfa5;
    }
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}
